// Logo
.brand {
  width: 188px;
  height: $header-height;

  &-link {
    height: 100%;
  }

  &-small {
    width: 112px;
    height: 20px;
  }
}

.header {
  &-container {
    height: 100%;
  }

  &-book {
    color: var(--text-color-revert);

    .menu-list {
      @media screen and (max-width: $tablet) {
        color: var(--text-color);
      }
    }
  }
}

.menu {
  @media screen and (max-width: $tablet) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--body-bg-color);
    border-left: 1px solid var(--divider-color);
  }

  &-list {
    @media screen and (min-width: $tablet + 1px) {
      display: flex;
      align-items: center;
    }

    @media screen and (max-width: $tablet) {
      padding: $space-normal 0 0 0;
      margin: 0;
      min-width: 300px;
    }
  }

  &-item {
    @media screen and (max-width: $tablet) {
      display: block;
      padding: $space-normal;
      border-bottom: 1px solid var(--divider-color);
    }
    @media screen and (min-width: $tablet + 1px) {
      display: inline-block;
    }

    &-close {
      text-align: right;
    }
  }
}
