.input {
  margin: 0;
  padding: $space-small;
  border: 1px solid var(--divider-color);
  border-radius: $radius-small;
  width: 100%;
}

.popper {
  // Card styles
  border: 1px solid var(--divider-color);
  border-radius: $radius-normal;
  background-color: var(--body-bg-color);
  padding: $space-small;
  position: absolute;
  min-width: 30rem;
  margin-top: $space-tiny;

  &-arr {
    position: absolute;
    left: 0px;
    transform: translate(14px, -16px);
    color: var(--body-bg-color);

    &::before,
    &::after {
      position: absolute;
      display: block;
      width: 12px;
      height: 12px;
      z-index: -1;
    }

    &::before {
      content: '';
      transform: rotate(45deg);
    }

    &::after {
      content: '';
      transform: rotate(45deg);
      border-radius: 1.5px;
      background: currentColor;
      top: 1px;
      box-shadow: -1px -1px 1px 0 var(--divider-color);
    }
  }
}