//- Manage section, filter by account permission
- if (user.role < 2)
  .collapse#collapseExample
    .card.card-body
      .row
        .col-5
          .row
            .col-12
              //- Set input name for ScrapingContent page to convert Book
              label(for="user") User ID
              input(
                type="text",
                value= data.userId,
                class="form-control",
                name= `${entity === 'scraping-content' ? 'userId': ''}`,
                readonly
              )
          - if (user.role < 1)
            .row
              .col-12
                include affiliate.pug

        .col-7
          include rating.pug
