-var pageLanguage = 'en'
- if (isBookPage)
  -pageLanguage = langCode

doctype html
//- html(lang='en', class= `${setting.darkMode ? 'dark' : ''}`)
html(lang= pageLanguage)
  head
    include ../_partials/head.pug
    link(rel="stylesheet", href="/styles.css")

    //- Verify Google Adsense
    //- script(async, data-ad-client="ca-pub-0374760140114293", src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")

  body(class='wrapper')
    //- Templates
    include ../_template/_footer.pug
    include ../_template/_header.pug
    include ../_template/_image.pug
    include ../_template/_rating.pug
    include ../_template/_rating-action.pug
    include ../_template/_review.pug
    include ../_template/_review-order.pug
    include ../_template/_search-input.pug
    include ../_template/_pagination.pug

    //- Icons
    include ../_partials/svg-icons.pug
    include ../_partials/social-network.pug

    +headerTemplate()

    div(class= `main ${isBookPage ? 'page-book' : ''}`)
      block main

    +footerTemplate()
    #snackbar
