a.banner(
  href="https://shorten.asia/5ucPzuUu",
  title="Elsa",
  rel="nofollow",
  target="_blank"
)
  +imageTemplate(
    '/img/banner/elsa.jpg',
    'banner-only', 'elsa', '140', '140', isAmp, 'responsive'
  )
