a.banner.banner-finhay(
  href="https://finhay.com.vn/invite/ELbo6s",
  title="Finhay",
  rel="nofollow",
  target="_blank"
)
  +imageTemplate(
    '/img/banner/finhay.svg',
    '', 'finhay', '123', '35', isAmp, 'responsive'
  )
  p.mt10 Đầu tư tự động và an toàn. Bắt đầu chỉ với <b class="heading heading-section">50K</b>
