a.banner(
  href="https://shorten.asia/nAYDQTgc",
  title="Kindle Paperwhite",
  rel="nofollow",
  target="_blank"
)
  +imageTemplate(
    '/img/banner/kindle.jpg',
    '', 'Kindle Paperwhite', '140', '140', isAmp, 'responsive'
  )
  p Giảm 10% Máy đọc sách Kindle Paperwhite
