extends ../_default/base.pug

block main
  .container
    h1.heading.heading-section.text-center About NextReading

    p NextReading is a global social network for book lovers discussion and discovery. We want to build a system to help people share they feeling about book they've read, track reading journey. NextReading launched in November 2020.
