extends ../_default/base.pug

block main
  .container
    h1.heading.heading-section.text-center Privacy Policy

    ol
      li
        b Your privacy
        | : NextReading is committed to ensuring the privacy of your information.
      li
        b Application
        | : This Privacy Policy applies to all personal information submitted by you on nextreading.com (the "Website"), and any information that may be automatically retrieved through your use of these channels.
      li
        b Consent
        | : By accepting our
        a(href="/terms-of-service", title="Terms of Use") Terms of Use
        | and this Privacy Policy when you create a NextReading account, and by accessing and using the Website, you consent to the collection, use, disclosure, storage and processing of your information in accordance with this Privacy Policy.
      li
        b Personal information
        | : In order to use particular services that we offer, you may need to submit certain personal information such as your email address, name, address, gender and date of birth. You may be asked to submit further information from time to time. If you connect your Facebook or Twitter accounts to your account with NextReading, we will access these accounts to identify which of your friends on those services are also using NextReading.
      li
        b Cookies
        | : A cookie is a small piece of data that is stored on your computer or mobile device. Like many websites, we use cookies and similar technologies to collect additional website usage data and to operate our services. Although most web browsers automatically accept cookies, many browsers' settings can be set to decline cookies or alert you when a website is attempting to place a cookie on your computer. However, some of our services may not function properly if you disable cookies. When your browser or device allows it, we use both session cookies and persistent cookies to keep you signed in, to better understand how you interact with our services, to monitor aggregate usage patterns, and to personalize and otherwise operate our services such as by providing account security and personalized content. Our service also uses cookies and similar tracking technologies such as the Common ID cookie to provide its services. Cookies are important devices for measuring advertising effectiveness and ensuring a robust online advertising industry. The Common ID cookie stores a unique ID in the first-party domain that is accessible to our ad partners. This ID can be utilized to improve user matching, especially when delivering ads to iOS and macOS browsers.
      li
        b Advertising privacy
        | :
        i (EU users only)
        | When you use our website, pre-selected companies may access and use certain information on your device and about your interests to serve ads or personalized content. You may change your consent choices at any time
      li
        b Security
        | : You must keep any login, password or account information relating to your use of the Website secure at all times, and must immediately notify us of any unauthorized use of such information or any other breach of security. We will not be liable for any loss or damage if you fail to comply with this security obligation.
