extends ../_default/base.pug

block main
  .container
    h1.heading.heading-section.text-center Terms of Service

    p Thank you for using <b>NextReading</b>! We're happy you're here. Please read this Terms of Service agreement carefully before accessing or using <b>NextReading</b>. Because it is such an important contract between us and our users, we have tried to make it as clear as possible. For your convenience, we have presented these terms in a short non-binding summary followed by the full legal terms.

    h2.heading.heading-item 1. Definitions
    ol
      li "Content" refers to content featured or displayed through the Website, including, text, data, articles, images, photographs, graphics, features, and other materials that are available on the Website or otherwise available through the Service. "Your Content" is Content that you create or own.
      li "NextReading," "We,"" and "Us" refer to NextReading, Inc., as well as our affiliates, directors, subsidiaries, contractors, licensors, officers, agents, and employees.

    h2.heading.heading-item 2. Use of Our Service
    p NextReading provides a place for you to discover, track, and talk about books with friends and our community.

    p You do not have to register in order to visit NextReading. To access certain features of the Service, track what you've read, posting book reviews, and voting on other members' reviews, you will need to register with NextReading and create a "Member" account. Your account gives you access to the services and functionality that we may establish and maintain from time to time and in our sole discretion.

    h2.heading.heading-item 3. User Content
    p You are solely responsible for your User Content. You agree not to post User Content that is illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights (including publicity rights), or otherwise injurious to third parties or objectionable, and does not consist of or contain software viruses, political campaigning, commercial solicitation, chain letters, mass mailings, or any form of "spam" or unsolicited commercial electronic messages. You may not use a false e-mail address, impersonate any person or entity, or otherwise mislead as to the origin of content. You hereby represent that you are the owner of all the copyright rights with respect to, or that you have the legal right to post, your User Content, and that you have the power to grant the license granted below. NextReading reserves the right to monitor, reject and/or remove any User Content at any time. For example, NextReading may, but is not obligated to, reject and/or remove any User Content that NextReading believes, in its sole discretion, violates these provisions.

    p NextReading takes no responsibility and assumes no liability for any User Content that you or any other Users or third parties post or send over the Service. You understand and agree that any loss or damage of any kind that occurs as a result of the use of any User Content that you post is solely your responsibility. NextReading is not responsible for any public display or misuse of your User Content. You understand and acknowledge that you may be exposed to User Content that is inaccurate, offensive, indecent, or objectionable, and you agree that NextReading shall not be liable for any damages you allege to incur as a result of such User Content. NextReading may provide tools for you to remove some User Content, but does not guarantee that all or any User Content will be removable.
