#modalSearch.modal.search-modal.hidden
  .search-wrapper
    .flex.flex-between
      input(id="inputSearch", class="search-input", placeholder="Nhập tên truyện")
      button(class="btn-setting search-btn", data-name="search") ×
    #searchResults.search-results
